<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="GoogleTest">
    <test name="GoogleTest">
        <classes>
            <class name="com.GoogleTest"/>
        </classes>
    </test>
    <test name="W3SchoolsTest">
        <classes>
            <class name="com.W3SchoolsTest"/>
        </classes>
    </test>
    <test name="TestngReport">
        <classes>
            <class name="com.TestngReportGeneration"/>
        </classes>
        </test>
</suite>
